<div class="container">
<br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Descripción</th>
        <th>Inicio alquiler</th>
        <th>Fin alquiler</th>
        <th>Precio</th>
        <th> Mostrar </th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |b| %>
        <tr>
          <td><%= b.product.name%></td>
          <td><%= b.product.description%></td>
          <td><%= b.start_date.strftime("%d/%m/%Y") %></td>
          <td><%= b.end_date.strftime("%d/%m/%Y")%></td>
          <td><%= b.booking_price%></td>
          <td><%= link_to 'Show', booking_path(b) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
