<h1>Agenda tu reserva para:<%= @product.name %></h1>

<%= simple_form_for [@product, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit 'Submit booking', class: 'btn btn-primary' %>
  <%# <%= link_to "Ver Resumen del booking", booking_path, class: "nav-link"%> %>
<% end %>
<hr>
<p> El precio por día es X NICE TO HAVE**</p>
