<div class="card mb-3 m-3" style="max-width: 10000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= cl_image_tag(@booking.product.photo.key, crop: :fill) %>
    </div>
    <div class="col-md-8 d-flex align-items-center">
      <div class="card-body" >
        <h2 class="card-title"><%= @booking.product.name %></h2>
        <p class="card-text">Precio Reserva: <%=@booking.booking_price %> USD</p>
        <p class="card-text">Detalles producto: <%=@booking.product.description %></p>
        <p class="card-text"><small class="text-strong">Desde: <%= @booking.start_date %> hasta: <%= @booking.end_date %></small></p>
        <p class="card-text"><small class="text-strong"></small></p>
        <p><small><button type="button" class="btn btn-light">Contacta al dueño **nicetohave: <%= @booking.product.user.email %></button></small></p>
        <p><small><button type="button" class="btn btn-light"><%= link_to "Volver a mis reservas", bookings_path, class: "nav-link" %></button></small></p>
      </div>
    </div>
  </div>
</div>
