<!-- inicia el header de la card -->

<!-- termina el header de la card -->

<!-- inicia el main de la card -->
<div>
  <div class="bg-success p-2 text-dark bg-opacity-25">
      <div class="row g-4 m-2 p-2">
        <% @products.each do |product| %>
          <div class="col-4">
            <div class="w-auto p-3" style="background-color: #eee;">
              <div class="card shadow p-3 mb-5 bg-body rounded">
                <img src="..." class="card-img-top rounded-2" alt="..">
                <div class="card-body">
                  <h5 class="card-title"><%= link_to product.name, product_path(product), class: "nav-link" %></h5>
                  <p class="card-text"><%= product.description %></p>
                </div>
                <div class="card-footer">
                  <p><small><%= product.price %> $USD</small></p>
                  <p><small class="text-muted">Contactar dueño: <%= User.find(product.user_id).email %></small></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
<!-- termina el main de la card -->

<!-- inicia el footer de la card -->
<div>
    <div class="card text-center">
      <div class="card-header">
        Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div class="mt-3 mx-4">
          <button type="button" class="btn btn-outline-secondary"><%= link_to "Arrienda tu propio equipo!", new_product_path, class: "nav-link" %> </button>
          </div>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
    </div>
</div>
<!-- termina el footer de la card -->
