<div class="container-fluid align-items-center justify-content-center ">
  <div class="text-center text-black bg-white">
    <nav class="navbar bg-white fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Products</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Sports</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
            <div class="offcanvas-body">
          <% @sports.each do |sport| %>
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= sport.name %>
                  </a>
                </li>
          <% end %>
            </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 my-2 mx-2 py-2 px-2">
  <% @products.each do |product| %>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text"><%= product.description %></p>
      </div>
      <div class="card-footer">
        <p><small><%= product.price %> $USD</small></p>
        <p><small class="text-muted">Contactar dueño: <%= User.find(product.user_id).email %></small></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
