<%= simple_form_for(@product) do |f| %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :price %>
<%= f.input :sport_id %>
<%= f.submit %>
<% end %>

<div class="card text-center">
<%= simple_form_for(@product) do |f| %>
  <div class="card-header">
    Catalog
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= f.input :name %></h5>
    <p class="card-text"><%= f.input :description %></p>
    <%= f.submit 'Add', class: 'btn btn-primary' %>
  </div>
  <div class="card-footer text-muted">
    <%= f.input :sport_id %>
  </div>
</div>
